  <div class="main col-lg-9 myHalfCol">
<h4> Select Color </h4>

	  <%= link_to image_tag("red.png", border: 0,:size => "100x100"), categories_path(color:"red"), remote:true %>
	  <%= link_to image_tag("pink.jpeg", border: 0,:size => "100x100"), categories_path(color:"pink"), remote:true %>
	 <%= link_to image_tag("orange.png", border: 0,:size => "100x100"), categories_path(color:"orange"), remote:true %>
	  <%= link_to image_tag("yellow.png", border: 0,:size => "100x100"), categories_path(color:"yellow"), remote:true %>
	  <%= link_to image_tag("green.png", border: 0,:size => "100x100"), categories_path(color:"green"), remote:true %>
	  <%= link_to image_tag("blue.png", border: 0,:size => "100x100"), categories_path(color:"blue"), remote:true %>
	 <%= link_to image_tag("purple.png", border: 0,:size => "100x100"), categories_path(color:"purple"), remote:true %>


 <div id="div1"> </div>
  <div id="div2"> </div>
</div>



