<div class="panel panel-default">
  <div class="panel-heading"> <h4>Select Color <small>click on image ..</small></h4></div>
  <div class="panel-body">
    <%= link_to image_tag("red.png",:size => "100x100"),categories_path(color:"red"), remote:true,class: "set-space" %>
    <%#= link_to image_tag("pink.jpeg",:size => "100x100"), categories_path(color:"pink"), remote:true,class: "set-space" %>
    <%= link_to image_tag("orange.png",:size => "100x100"), categories_path(color:"orange"), remote:true,class: "set-space" %>
    <%= link_to image_tag("yellow.png",:size => "100x100"), categories_path(color:"yellow"), remote:true,class: "set-space" %>
    <%= link_to image_tag("green.png",:size => "100x100"), categories_path(color:"green"), remote:true,class: "set-space" %>
    <%= link_to image_tag("blue.png",:size => "100x100"), categories_path(color:"blue"), remote:true ,class: "set-space"%>
    <%= link_to image_tag("purple.png",:size => "100x100"), categories_path(color:"purple"), remote:true,class: "set-space" %>
  </div>
</div>
<div id="div1"> </div> <br/>
<div id="div2"> </div> 


