<h2> Select category </h2>
<%= form_for @category, :remote => true do |f| %> 
  <% Category.all.each do |category| %>
    <%= f.radio_button :id, category.id %>
    <%= f.label :name, category.name %>
  <% end %>
  <%= hidden_field_tag :color, @color %>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>



