<div class="panel panel-default">
  <div class="panel-heading"> <h4>Select category <small>click on radio button ..</small></h4></div>
  <div class="panel-body">
  <%= form_for @category, :remote => true do |f| %> 
    <% Category.all.each do |category| %>
      <%= f.radio_button :id, category.id,  checked: Category.first %>
      <%=  category.name %>
    <% end %>
    <%= hidden_field_tag :color, @color %> <br/>
    <div class="actions">
      <%= f.submit "Search result", class: 'btn btn-primary' %>
    </div>
  <% end %>
  </div>
</div>



